.fundo{
  background-color: #f8f8FF;
  width: 100%;
  padding: 40px;
 
}
.titulo{
  color :#666a6e;
}

.subtitulo{
  color:var(--azul);
}
.paragrafo{
  color:#FFD33C;
}

/*dark mode*/
.fundo.dark-mode {
  background-color: #ffffff;
  width: 100%;
  padding: 40px;
 
}